<!-- <div class="page-not-found">
  <div class="page-not-found-content">

    <h1 class="hmm">You don’t have access to this page</h1>
    <p class="light-text mt-8">
      If you believe you’ve reached this page in error, please ask
    </p>
    <p class="light-text">an admin for permissions to see the module.</p>
    <div class="link-div"></div>
  </div>
</div> -->

<div class="no-permission">
  <div class="lock"></div>
  <div class="message">
    <h1>Access to this page is restricted</h1>
    <p>Please check with the site admin if you believe this is a mistake.</p>
  </div>
</div>
