<form [formGroup]="form">
  <div class="input-feild">
    <app-label-text [labelText]="label"></app-label-text>
    <mat-form-field appearance="outline" class="w-100 mouse-pointer">
      <!-- <mat-label>{{ label }}</mat-label> -->
      @if(autofocus){
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControlName]="controlName"
        onkeypress="return event.keyCode != 32"
        bdAutoFocus
        [placeholder]="placeHolder || 'placeholder text'"
      />
      } @else{
      <!-- <ng-template> -->
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [formControlName]="controlName"
          onkeypress="return event.keyCode != 32"
          [placeholder]="placeHolder || 'placeholder text'"
        />
      <!-- </ng-template> -->
      } @if(eyeIcon){
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      } @if(isShowError){
      <mat-error>{{ form | inputError : controlName : errorKey }}</mat-error>
      }
    </mat-form-field>
  </div>
</form>
