<div class="main-div mt-3">
  <div
    [class.success]="regexText.lower"
    class="error-success-text d-flex align-items-center"
  >
    @if(!regexText.lower){
    <img
      class="warning-image mr-1"
      alt="password-icon-info-image"
      [src]="unchecked_radio"
    />
    } @if(regexText.lower){
    <img
      class="success-image mr-1"
      alt="password-icon-success-image"
      [src]="success"
    />
    } One lowercase letter
  </div>
  <div
    [class.success]="regexText.upper"
    class="error-success-text d-flex align-items-center"
  >
    @if(!regexText.upper){
    <img
      class="warning-image mr-1"
      alt="password-icon-info-image"
      [src]="unchecked_radio"
    />
    } @if(regexText.upper){
    <img
      class="success-image mr-1"
      alt="password-icon-success-image"
      [src]="success"
    />
    } One uppercase letter
  </div>
  <div
    [class.success]="regexText.number"
    class="error-success-text d-flex align-items-center"
  >
    @if(!regexText.number){
    <img
      class="warning-image mr-1"
      alt="password-icon-info-image"
      [src]="unchecked_radio"
    />
    } @if(regexText.number){
    <img
      class="success-image mr-1"
      alt="password-icon-success-image"
      [src]="success"
    />
    } One number
  </div>
  <div
    [class.success]="regexText.special"
    class="error-success-text d-flex align-items-center"
  >
    @if(!regexText.special){
    <img
      class="warning-image mr-1"
      alt="password-icon-info-image"
      [src]="unchecked_radio"
    />
    } @if(regexText.special){
    <img
      class="success-image mr-1"
      alt="password-icon-success-image"
      [src]="success"
    />
    } One special character i.e &#64;,$,%,&
  </div>
  <div
    [class.success]="regexText.minimumChar"
    class="error-success-text d-flex align-items-center mb-3"
  >
    @if(!regexText.minimumChar){
    <img
      class="warning-image mr-1"
      alt="password-icon-info-image"
      [src]="unchecked_radio"
    />
    } @if(regexText.minimumChar){
    <img
      class="success-image mr-1"
      alt="password-icon-success-image"
      [src]="success"
    />
    } 8 character minimum
  </div>
</div>
