<div class="account-wrapper">
  <app-onboarding-layout></app-onboarding-layout>
  <div class="right-portion">
    <div class="right-portion">
      <!-- <img
        [src]="icons.LOGO"
        class="mb-5 onboarding-logo"
        alt="Admin Accelerator logo"
        srcset=""
      /> -->
      <div class="login-wrap">
        <div class="login-head">Forgot Password?</div>
        <div class="login-sub-head"></div>

        <div class="form-section">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-forms">
              <app-email
                [form]="forgotPasswordForm"
                label="Email Address*"
                [placeHolder]="'Email Address'"
                controlName="email"
              ></app-email>
            </div>
            <div class="btn-section mt-3">
              <app-button
                [disabled]="forgotPasswordForm.invalid"
                [label]="resetLinkLabel"
                [class]="'w-100 mb-3'"
                (enter)="onSubmit()"
              ></app-button>
              <button
                type="button"
                class="w-100"
                mat-button
                (click)="backToLogin()"
              >
                Back to Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
