@import './../../../../../scss/mix';
@import './../../../../../scss/var';

.profile-container {
  margin: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-title {
      h1 {
        font-size: 20px;
        color: $primary;
        font-family: $font;
      }
    }

    .btn {
      grid-gap: 15px;
      display: inherit;
    }
  }

  .body {
    padding: 1.3rem;
    background-color: #ffffff;

    .body-header {
      font-family: $font;
      color: $primary;
      font-weight: 700;
      font-size: 16px;
    }
  }
}

.image-placeholder {
  font-size: 20px;
  @include flex(center, center);
  width: 120px !important;
  height: 120px !important;
  color: $primary;
  border: 4px solid $primary;
  border-radius: 50%;
  font-weight: 700;
}

.reset {
  color: $primary;
  cursor: pointer;
}