@import '../../../../scss/var';
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.card-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem;
}

mat-card-content {
  padding: 24px;

}

mat-card-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: $mild;
}

mat-card-subtitle {
  font-size: 30px;
  font-weight: 500;
  color: $primary;
  line-height: 40px;
}

.card {
  flex: 0 0 calc(20% - 10px);
  // padding: 8px;
  border-radius: 5px !important;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  width: 300px;
  height: 182px;
  background-color: rgb(243, 239, 239,0.37);
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) !important;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  cursor: pointer;
}

.profile-img {
  height: 58px;
}