<div class="account-wrapper">
  <app-onboarding-layout></app-onboarding-layout>
  <div class="right-portion">
    <div class="right-portion">
      <!-- <img
        [src]="icons.LOGO"
        class="mb-5 onboarding-logo"
        alt="Admin Accelerator logo"
        srcset=""
      /> -->
      <div class="login-wrap">
        <div class="login-head">Reset Password</div>
        <div class="login-sub-head"></div>

        <div class="forms">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <app-password
              [form]="resetPasswordForm"
              label="New Password*"
              [placeHolder]="'New Password*'"
              controlName="newPassword"
              [errorKey]="'New Password'"
            ></app-password>
            <app-password-strength
              [passwd]="resetPasswordForm.value.newPassword"
              (onPasswordValid)="markPasswordValid($event)"
            ></app-password-strength>
            <app-password
              [form]="resetPasswordForm"
              label="Confirm Password*"
              [placeHolder]="'Confirm Password*'"
              controlName="confirmPassword"
              [errorKey]="'Confirm Password'"
            ></app-password>

            <div class="btn-section d-flex flex-column gap-3">
              <app-button
                [disabled]="resetPasswordForm.invalid || !isPassValid"
                label="Reset Password"
                [class]="'w-100'"
                type="submit"
                (enter)="onSubmit()"
              ></app-button>
              <!-- [disabled]="resetPasswordForm.invalid || !isPassValid" -->
              <button mat-button [routerLink]="routes.LOGIN.fullUrl">
                Back to Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="account-wrapper">
  <div class="left-portion">
      <div class="main-image">
        <img
          src="https://images.unsplash.com/photo-1614531341773-3bff8b7cb3fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80"
        />
      </div>
  </div>
  <div class="right-portion">
    <div class="login-wrap">
      <div class="login-head">Reset Password</div>
      <div class="login-sub-head"></div>

      <div class="forms">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-forms">
            <app-password
              [form]="resetPasswordForm"
              label="New Password"
              controlName="newPassword"
            ></app-password>
            <app-error
              [errLabel]="
                resetPasswordForm | inputError : 'newPassword' : 'New Password'
              "
            ></app-error>
          </div>

          <div class="input-forms">
            <app-password
              [form]="resetPasswordForm"
              label="confirmPassword"
              controlName="confirmPassword"
            ></app-password>
            <app-error
              [errLabel]="
                resetPasswordForm
                  | inputError : 'confirmPassword' : 'Confirm Password'
              "
            ></app-error>
          </div>

          <div class="btn-section">
            <app-button
              [disabled]="submitting"
              label="Sign in"
              [class]="'butn butn__new mt-20'"
              (enter)="onSubmit()"
            ></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
