@import '../../../../scss/var';
@import '../../../../scss//mix';

.right-portion {
  @include right-panel;
  @media (max-width: 767px) {
    flex: 0 0 100%;
    align-items: flex-start;
    height: 100%;
    overflow: inherit;
  }
}

.login-wrap {
  padding: 3rem;
  // border-radius: 10px;
  // box-shadow: 0px 0px 15px 0 rgb(46 61 73 / 20%);
  // background: #ffff;
  width: 600px;
  @media (max-width: 767px) {
    padding: 0px 8px;
    margin-top: 30px;
  }
}

.login-head {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 4px;
  position: relative;
}

.login-sub-head {
  margin-bottom: 20px;
  color: $secondary;
  font-size: 14px;
  width: 335px;
  @media (max-width: 320px) {
    width: 290px;
  }
}

.btn-section {
  margin: 0px 0px 10px;
}

.account-wrapper {
  display: flex;
}

.right-portion {
  flex: 1;
  height: 100vh;
}

.forget-link {
  // height: auto;
  // background: none;
  // padding: 0;
  // margin: 0;
  // border-radius: 4px;
  &:hover,
  &:focus,
  &:visited {
    background: none !important;
  }
}
