<div class="grid-container">

  <div class="d-flex flex-wrap justify-content-between mb-4 align-items-center">
    <app-breadcrumb></app-breadcrumb>
    <div class="d-flex justify-content-between align-items-center gap-3">
      <app-date-filter (globalDateEvent)="onDateChange($event)"></app-date-filter>
      <button type="button" mat-flat-button color="primary" [routerLink]="rolesCreate.fullUrl"
        *showIf="features.ROLES; role: permissions.ADD">
        CREATE
      </button>
    </div>
  </div>
  <div class="table-wrapper">
    <app-role-filter (changeFilter)="filterData($event)"
      (searchFilterChange)="searchTextChange($event)"></app-role-filter>
    <div class="table-resposnive">
      <app-table [dataSource]="dataSource" [tableColumns]="columns" [feature]="features.ROLES"
        [customTemplates]="{ id: id }" [customMenu]="customMenuTemplate" (sort)="onSortChange($event)">
      </app-table>
    </div>
    @if(dataSource.data.length){
    <app-pagination (page)="onPaginationChange($event)" [dataSource]="dataSource" [pageSize]="pagination.size"
      [totalRecords]="pagination.totalRecords"
      [pageIndex]="pagination.page === 0 ? 1 : pagination.page - 1"></app-pagination>
    }
  </div>

  <!-- Template for userCount -->
  <ng-template let-row="row" #id>
    <span class="text-center custom-id-column" (click)="viewRole(row)">{{
      row.id
      }}</span>
  </ng-template>

  <!-- Template for table action -->
  <ng-template #customMenuTemplate let-row="data">
    <span [matTooltip]="permissionMessages"
      [matTooltipDisabled]="rolePermission  && !(profileDetail?.role?._id == row._id)">
      <button mat-icon-button type="button" [matMenuTriggerFor]="defaultMenu" [matMenuTriggerData]="{ data: row }"
        [disabled]="!rolePermission">
        <mat-icon>more_horiz</mat-icon>
      </button>
    </span>
    <mat-menu #defaultMenu="matMenu" xPosition="before" backdropClass="sg-vertical-sub-menu" class="table-dropdown">
      <ng-template matMenuContent let-menuItem="data">
        @if(profileDetail?.role?._id != menuItem._id){
        <div class="action-menu">
          <ng-container *showIf="features.ROLES; role: permissions.EDIT">
            <button mat-menu-item type="button" (click)="editRole(menuItem)">
              Edit
            </button>
          </ng-container>
          <mat-divider></mat-divider>
          <ng-container *showIf="features.ROLES; role: permissions.STATUS">
            <button mat-menu-item type="button" (click)="changeAction(menuItem)">
              {{ menuItem.isActive ? 'Deactivate' : 'Activate' }}
            </button>
          </ng-container>
        </div>
        }
      </ng-template>
    </mat-menu>
  </ng-template>
</div>