@import '../../../../scss/var';

.label-text {
  // font-size: 14px;
  // font-style: normal;
  // font-weight: 600;
  // line-height: normal;
  //   font-weight: 400;
  // line-height: normal;
  // color: $label-color;
  color: $primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}