@import '../../../../../scss/var';

.header-title {
  h1 {
    font-size: 20px;
    color: $black;
    font-family: $font;
  }
}
.change-password-wrap {
  background-color: #fff;
  width: 40%;
}

.content-container {
  margin-top: 2rem;
  padding: 36px;
  border: 1px $light-grey solid;
  border-radius: 0.9rem;
  background-color: $white;
}

.page-title {
  margin-bottom: 2rem;
  font-family: $font;
  color: $black;
  font-weight: 700;
  font-size: 16px;
}

.forms {
  width: 50%;
}

.label-text {
  color: $primary;
  font-size: 15.62px;
  font-weight: 500;
  line-height: 23.43px;
  letter-spacing: 0.2928308844566345px;
  // font-size: 14px;
  // font-style: normal;
  // font-weight: 400;
  // line-height: normal;
}
