<div class="update-password grid-container">
  <div class="module-title">
    <div class="header-title">
      <h1 class="mb-0">{{ title }}</h1>
    </div>

    <div class="content-container">
      <div class="forms">
        <form
          [formGroup]="changePasswordForm"
          (ngSubmit)="onSubmit()"
          class="login-error"
        >
          <app-password
            [form]="changePasswordForm"
            label="Old Password*"
            controlName="currentPassword"
            [errorKey]="'Old Password'"
            [placeHolder]="'Old Password'"
          ></app-password>

          <app-password
            [form]="changePasswordForm"
            label="New Password*"
            controlName="newPassword"
            [errorKey]="'New Password'"
            [placeHolder]="'New Password'"
          ></app-password>
          <app-password-strength
            [passwd]="changePasswordForm.value.newPassword"
            (onPasswordValid)="markPasswordValid($event)"
          ></app-password-strength>

          <app-password
            [form]="changePasswordForm"
            label="Confirm New Password*"
            controlName="confirmPassword"
            [errorKey]="'Confirm New Password'"
            [placeHolder]="'Confirm New Password'"
          ></app-password>
          <div class="form-actions mt-3">
            <app-button
              (enter)="onSubmit()"
              [disabled]="changePasswordForm.invalid || !isPassValid"
              [label]="buttonSlugs['CHANGE_PASSWORD']"
            ></app-button>
            <!-- [disabled]="changePasswordForm.invalid || !isPassValid" -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
