<input matInput class="mat-select-search-input mat-select-search-hidden" />

<div class="mat-select-search-inner d-flex align-items-center">
  <input
    matInput
    class="mat-select-search-input"
    #searchSelectInput
    (keydown)="$event.stopPropagation()"
    (input)="onInputChange(searchSelectInput.value)"
    (blur)="onBlur(searchSelectInput.value)"
    [placeholder]="placeholderLabel"
    (keyDown.space)="$event.stopPropagation()"
    width="97%"
  />
  @if(value){
  <button
    mat-button
    mat-icon-button
    aria-label="Clear"
    (click)="_reset(true)"
    class="mat-select-search-clear"
  >
    <mat-icon>close</mat-icon>
  </button>
  }
</div>
@if(noEntriesFoundLabel && value && _options.length === 0){
<div class="mat-select-search-no-entries-found">
  {{ noEntriesFoundLabel }}
</div>
}
