<div class="popup-wrapper">
  <form [formGroup]="verifyPasswordForm" (ngSubmit)="verify()">
    @if(modalData.title){
    <div class="modal-header pt-3">
      <h2 mat-dialog-title>{{ modalData.title }}</h2>
    </div>
    }
    <div mat-dialog-content>
      <div class="modal_message">
        <div class="modal-content d-flex gap-2 justify-content-center">
          @if(data.from === 'editProfile' || data.from === 'editSubAdmin' ||
          data.from === 'viewProfile'){
          <mat-icon>info</mat-icon>
          }
          <p>{{ modalData.message }}</p>
        </div>
        <app-password
          class="password-label"
          [form]="verifyPasswordForm"
          label="Password*"
          controlName="password"
          [placeHolder]="'Password'"
          [autofocus]="true"
        ></app-password>
      </div>
    </div>

    <mat-dialog-actions class="d-flex gap-3 action-button mb-3">
      @if(!modalData.hideCancelButton){
      <app-button
        [label]="modalData.cancelButtonText"
        [isStrokeBtn]="true"
        (onClick)="onCancelClick()"
        type="button"
      ></app-button>
      }
      <app-button
        [disabled]="verifyPasswordForm.invalid"
        [label]="modalData.confirmButtonText"
        (enter)="verify()"
        type="submit"
      ></app-button>
    </mat-dialog-actions>
  </form>
</div>
